.wrapper {
  margin-top: 40px;
  padding: 30px;
  border: 2px solid #b3b3b3;
  background-color: #fff;

  .input {
    border-radius: 0;
    border: 1px solid #ccc;
    &:focus {
      border-color: #000;
      box-shadow: none;
    }
  }

  .submitBtn {
    background-color: #000;
    border-radius: 0;
    height: 45px;
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: #333 !important;
    }
  }
}
